@media (max-width: 1300px) {
    .season-absolute-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apsolute-collection {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-collection {
            text-align: center;
        }
        h2 {
            margin-top: 50px;
        }
        a {
            padding-bottom: 10px;
        }
    }
}
@media (max-width: 850px) {
    .season-img-absolute {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: center;
        }
    }
}
@media (max-width: 650px) {
    .header-top-block {
        display: flex;
        flex-direction: column;
    }
    .header-top-block {
        .Logo-header {
            margin: 0 auto;
            padding-top: 10px;
        }
        .nav-header {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
    }
}
@media (max-width: 545px) {
    .block-contact {
        flex-direction: column;
        padding: 20px 20px;
    }
    .block-contact {
        svg {
            display: none;
        }
    }
    .block-contact-text-1 {
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .block-contact-text-2 {
        justify-content: center;
        margin: 0 auto;
    }
    .Admission {
        p {
            text-align: center;
        }
        .img-Admission {
            a {
            margin: 0 auto;
            }
        }
    }
}
@media (max-width: 440px) {
    .Admission {
        h2::before {
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 2px;
            background: $wiht-color;
            margin: 0 auto;
            top: 250px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media (max-width: 420px) {
    .block-contact-text-1 {
        flex-direction: column;
    }
    .block-contact-text-1 {
        img {
            display: none;
        }
    }
}
@media (max-width: 350px) {
    .new-collection {
        h2::before {
            content: "";
            position: absolute;
            display: block;
            width: 120px;
            height: 2px;
            background: $wiht-color;
            margin: 0 auto;
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}