@import "vars";
@import "libs";
@import "fonts";
*,
*::before,
*::after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
header {
    max-width: 1920px;
    background: $black-color;
}
.block-contact {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    background: $black-color;
}
.block-contact {
    .block-contact-text-1 {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        font-family: $PT-SANS;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $gray-color;
        align-items: center;
        padding: 0;        
    }
    a {
        text-decoration: none;
        color: $gray-color;
    }
    li {
        list-style: none;
        margin-right: 8px;
    }
}
.block-contact-text-2 {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: $PT-SANS;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $gray-color;
    align-items: center;
    padding: 0;
    a {
        text-decoration: none;
        color: $gray-color;
    }
    li {
        list-style: none;
        margin-right: 8px;
    }
    .vector-right {
        margin-right: -9px;
        margin-bottom: 3px;
    }
}
// Header top 
.header-top {
    max-width: 1920px;
    background: $black2-color;
    color: #969696;
}
.header-top-block {
    display: flex;
    justify-content: space-between;
}
.header-top-block {
    .Logo-header {
        font-weight: 700;
        font-family: 'Post No Bills Jaffna';
        font-size: 38px;
        line-height: 54px;
        color: $wiht-color;
        display: flex;
        align-items: center;
    }
    h2 {
        padding: 0;
        margin: 0;
    }
    .nav-header {
        display: flex;
        align-items: center;
    }
    a {
        font-size: 14px;
        line-height: 18px;
        color: $gray-color;
        font-family: $PT-SANS;
        font-weight: 400;
        padding: 30px 20px;
        text-decoration: none;
    }
    a:hover {
        background: $black3-color;
        color: $wiht-color;
    }
}
@import "media";
// $PT-SANS: 'PT Sans', sans-serif;
// $black-color: #000;
// $gray-color: #969696;
// $black2-color: #0F0F0F;
// $black3-color: #1F1F1F;
// $wiht-color: #fff;
// $black4-color: #191B1C;
