@import "vars";
@import "libs";
@import "fonts";
*,
*::before,
*::after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
header {
    max-width: 1920px;
    background: $black-color;
}
.block-contact {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    background: $black-color;
}
.block-contact {
    .block-contact-text-1 {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        font-family: $PT-SANS;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $gray-color;
        align-items: center;
        padding: 0;        
    }
    a {
        text-decoration: none;
        color: $gray-color;
    }
    li {
        list-style: none;
        margin-right: 8px;
    }
}
.block-contact-text-2 {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: $PT-SANS;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $gray-color;
    align-items: center;
    padding: 0;
    a {
        text-decoration: none;
        color: $gray-color;
    }
    li {
        list-style: none;
        margin-right: 8px;
    }
    .vector-right {
        margin-right: -9px;
        margin-bottom: 3px;
    }
}
////////////////////////////// Header top 
.header-top {
    max-width: 1920px;
    background: $black2-color;
    color: #969696;
}
.header-top-block {
    display: flex;
    justify-content: space-between;
}
.header-top-block {
    .Logo-header {
        font-weight: 700;
        font-family: 'Post No Bills Jaffna';
        font-size: 38px;
        line-height: 54px;
        color: $wiht-color;
        display: flex;
        align-items: center;
    }
    h2 {
        padding: 0;
        margin: 0;
    }
    .nav-header {
        display: flex;
        align-items: center;
    }
    a {
        font-size: 14px;
        line-height: 18px;
        color: $gray-color;
        font-family: $PT-SANS;
        font-weight: 400;
        padding: 30px 20px;
        text-decoration: none;
    }
    a:hover {
        background: $black3-color;
        color: $wiht-color;
        transition: 0.9s;
    }
}
////////////////////////////// greeting 
.greeting-block {
    padding-top: 160px;
    max-width: 1920px;
    height: 810px;
    background: url(../img/greeting/Rectangle.jpg)center/cover no-repeat;
}
.greeting-logo-block {
    border: 5px solid white;
    max-width: 320px;
    height: 320px;
    margin: 0 auto;
} 
.greeting-logo-block {
    h1 {
        font-size: 64px;
        font-family: 'Post No Bills Jaffna';
        font-weight: normal;
        line-height: 96px;
        color: $wiht-color;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;
        padding-top: 93px;
    }
    h1::after {
        content: "";
        position: absolute;
        display: block;
        width: 190px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 170px;
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        font-size: 22px;
        font-family: $PT-SANS;
        line-height: 29px;
        font-weight: 400;
        text-align: center;
        color: $wiht-color;
        margin: 0;
    }
}
.greeting-lorem-block {
    max-width: 730px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}
.greeting-lorem-block {
    p {
        font-family: $PT-SANS;
        font-size: 16px;
        line-height: 24px;
        color: $wiht-color;
    }
}
////////////////////////////// season
.season-block {
    max-width: 1920px;
    background: $black-color;
    color: $wiht-color;
}
.season-absolute-block {
    display: flex;
    justify-content: space-between;
}
.season-img {
    max-width: 1040px;
    width: 100%;
    h2 {
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        font-family: $Playfair-Display;
        font-size: 36px;
        line-height: 48px;
        padding-top: 93px;
        padding-bottom: 100px;
        font-weight: 700;
        position: relative;
        color: $wiht-color;
    }
    h2::after {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 185px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.season-img-absolute {
    display: flex;
    justify-content: space-around;
    img {
        padding: 55px 22px;
        background: $black4-color;
    }
    p {
        font-family: $Playfair-Display;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: $wiht-color;
    }
}
.new-collection {
    background: url(../img/season/Rectangle8.jpg)center;
    min-height: 730px;
    max-width: 880px;
    width: 100%;
    color: $wiht-color;
    text-align: center;
    h2 {
        font-family: $Playfair-Display;
        font-size: 36px;
        line-height: 48px;
        color: $wiht-color;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-top: 485px;
        margin-bottom: 65px;
        position: relative;
    }
    h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
    }
    a {
        font-family: $PT-SANS;
        font-size: 18px;
        color: $wiht-color;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        border: 2px solid white;
        padding: 10px 30px;
        text-decoration: none;
    }
    a:hover {
        background: $gray-color;
        transition: 0.9s;
        color: $black-color;
    }
}
////////////////////////////// collection
.collection {
    max-width: 1920px;
    background: $black-color;
    .apsolute-collection {
        display: flex;
        justify-content: space-between;
    }
    .img-collection {
        width: 100%;
        height: 100%;
        max-width: 880px;
        min-height: 600px;
        background: url(../img/collection/Rectangle9.jpg)center;
    }
    .text-collection {
        text-align: center;
        width: 100%;
    }
    h2 {
        margin: 0;
        padding: 0;
        font-family: $Playfair-Display;
        font-size: 36px;
        font-weight: 400;
        line-height: 48px;
        color: $wiht-color;
        text-transform: uppercase;
        margin-top: 100px;
        margin-bottom: 80px;
        position: relative;
    }
    h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        font-family: $PT-SANS;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $wiht-color;
        margin: 0 auto;
        max-width: 471px;
        margin-bottom: 75px;
    }
    a {
        text-decoration: none;
        font-family: $PT-SANS;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: $wiht-color;
        padding: 10px 30px;
        border: 2px solid $wiht-color;
        text-transform: uppercase;
    }
    a:hover {
        background: $gray-color;
        transition: 0.9s;
        color: $black-color;
    }
}
////////////////////////////// Admission
.Admission {
    max-width: 1920px;
    background: $black-color;
    padding-bottom: 150px;
    h2 {
        font-family: $Playfair-Display;
        font-size: 36px;
        font-weight: 700;
        color: $wiht-color;
        line-height: 48px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;
    }
    h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 210px;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-Admission {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        a {
            margin-right: 15px;
            text-align: center;
        }
        img {
            padding: 55px 22px;
            background: $black4-color;
        }
        p {
            font-family: $Playfair-Display;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: $wiht-color;
        }
    }
}
////////////////////////////// brand
.brand {
    max-width: 1920px;
    background: $black2-color;
    padding-bottom: 75px;
    .img-brand {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
    }
    h2 {
        font-family: $Playfair-Display;
        font-size: 36px;
        font-weight: 700;
        color: $wiht-color;
        line-height: 48px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 80px;
        position: relative;
    }
    h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
    }
    img {
        margin: 0 auto;
        padding-left: 8px;
        padding-right: 8px;
    }
}
////////////////////////////// contact
.contact {
    max-width: 1920px;
    background: url(../img/contact/Rectangle15.jpg)center;
    padding-top: 65px;
    padding-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    .contact-absolute {
        display: flex;
        justify-content: space-between;
            .shop {
                max-width: 350px;
                h2 {
                    font-size: 24px;
                    line-height: 32px;
                    font-family: $Playfair-Display;
                    font-weight: 400;
                    color: $wiht-color;
                    text-transform: uppercase;
                }
                p {
                    font-family: $PT-SANS;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: $wiht-color;
                }
            }
            .categories {
                max-width: 300px;
                h2 {
                    font-size: 24px;
                    line-height: 32px;
                    font-family: $Playfair-Display;
                    font-weight: 400;
                    color: $wiht-color;
                    text-transform: uppercase;
                }
                .categories-bt {
                    a {
                        background: $black2-color;
                        font-size: 14px;
                        line-height: 21px;
                        font-family: $PT-SANS;
                        color: $wiht-color;
                        font-weight: 400;
                        padding: 10px 20px;
                        display: inline-block;
                        margin-bottom: 20px;
                        margin-right: 10px;
                        text-decoration: none;
                    }
                    a:hover {
                        background: $wiht-color;
                        color: $black-color;
                        transition: 0.9s;
                    }
                }
            }
            .mailing {
                max-width: 350px;
                h2 {
                    font-size: 24px;
                    line-height: 32px;
                    font-family: $Playfair-Display;
                    font-weight: 400;
                    color: $wiht-color;
                    text-transform: uppercase;
                }
                p {
                    font-family: $PT-SANS;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: $wiht-color;
                }
                .mailling-bt {
                    input {
                        background: rgba(255, 255, 255, 0.4); /* Цвет фона и значение прозрачности */
                        color: $wiht-color;
                        outline: none;
                        width: 210px;
                        height: 42px;
                    }
                    a {
                        padding: 12px 20px;
                        background: $black2-color;
                        color: $wiht-color;
                        font-weight: 400;
                        font-family: $PT-SANS;
                        font-size: 14px;
                        line-height: 21px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    a:hover {
                        background: $wiht-color;
                        color: $black-color;
                        transition: 0.9s;
                    }
                }
            }
    }        
}


@import "media";
// $PT-SANS: 'PT Sans', sans-serif;
// $black-color: #000;
// $gray-color: #969696;
// $black2-color: #0F0F0F;
// $black3-color: #1F1F1F;
// $wiht-color: #fff;
// $black4-color: #191B1C;