@import "vars";
@import "libs";
@import "fonts";
*,
*::before,
*::after {
    box-sizing: border-box;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
header {
    max-width: 1920px;
    background: $black-color;
}
.block-contact {
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    background: $black-color;
}
.block-contact {
    .block-contact-text-1 {
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        font-family: $PT-SANS;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $gray-color;
        align-items: center;
        padding: 0;        
    }
    a {
        text-decoration: none;
        color: $gray-color;
    }
    li {
        list-style: none;
        margin-right: 8px;
    }
}
.block-contact-text-2 {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: $PT-SANS;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $gray-color;
    align-items: center;
    padding: 0;
    a {
        text-decoration: none;
        color: $gray-color;
    }
    li {
        list-style: none;
        margin-right: 8px;
    }
    .vector-right {
        margin-right: -9px;
        margin-bottom: 3px;
    }
}
////////////////////////////// Header top 
.header-top {
    max-width: 1920px;
    background: $black2-color;
    color: #969696;
}
.header-top-block {
    display: flex;
    justify-content: space-between;
}
.header-top-block {
    .Logo-header {
        font-weight: 700;
        font-family: 'Post No Bills Jaffna';
        font-size: 38px;
        line-height: 54px;
        color: $wiht-color;
        display: flex;
        align-items: center;
    }
    h2 {
        padding: 0;
        margin: 0;
    }
    .nav-header {
        display: flex;
        align-items: center;
    }
    a {
        font-size: 14px;
        line-height: 18px;
        color: $gray-color;
        font-family: $PT-SANS;
        font-weight: 400;
        padding: 30px 20px;
        text-decoration: none;
    }
    a:hover {
        background: $black3-color;
        color: $wiht-color;
        transition: 0.9s;
    }
}
////////////////////////////// greeting 
.greeting-block {
    padding-top: 160px;
    max-width: 1920px;
    height: 810px;
    background: url(../img/greeting/Rectangle.jpg)center/cover no-repeat;
}
.greeting-logo-block {
    border: 5px solid white;
    max-width: 320px;
    height: 320px;
    margin: 0 auto;
} 
.greeting-logo-block {
    h1 {
        font-size: 64px;
        font-family: 'Post No Bills Jaffna';
        font-weight: normal;
        line-height: 96px;
        color: $wiht-color;
        text-align: center;
        position: relative;
        margin: 0;
        padding: 0;
        padding-top: 93px;
    }
    h1::after {
        content: "";
        position: absolute;
        display: block;
        width: 190px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 170px;
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        font-size: 22px;
        font-family: $PT-SANS;
        line-height: 29px;
        font-weight: 400;
        text-align: center;
        color: $wiht-color;
        margin: 0;
    }
}
.greeting-lorem-block {
    max-width: 730px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}
.greeting-lorem-block {
    p {
        font-family: $PT-SANS;
        font-size: 16px;
        line-height: 24px;
        color: $wiht-color;
    }
}
////////////////////////////// season
.season-block {
    max-width: 1920px;
    background: $black-color;
    color: $wiht-color;
}
.season-absolute-block {
    display: flex;
    justify-content: space-between;
}
.season-img {
    max-width: 1040px;
    width: 100%;
    h2 {
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        font-family: $Playfair-Display;
        font-size: 36px;
        line-height: 48px;
        padding-top: 93px;
        padding-bottom: 100px;
        font-weight: 700;
        position: relative;
        color: $wiht-color;
    }
    h2::after {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 185px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.season-img-absolute {
    display: flex;
    justify-content: space-around;
    img {
        padding: 55px 22px;
        background: $black4-color;
    }
    p {
        font-family: $Playfair-Display;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: $wiht-color;
    }
}
.new-collection {
    background: url(../img/season/Rectangle8.jpg)center;
    min-height: 730px;
    max-width: 880px;
    width: 100%;
    color: $wiht-color;
    text-align: center;
    h2 {
        font-family: $Playfair-Display;
        font-size: 36px;
        line-height: 48px;
        color: $wiht-color;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-top: 485px;
        margin-bottom: 65px;
        position: relative;
    }
    h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 2px;
        background: $wiht-color;
        margin: 0 auto;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
    }
    a {
        font-family: $PT-SANS;
        font-size: 18px;
        color: $wiht-color;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        border: 2px solid white;
        padding: 10px 30px;
        text-decoration: none;
    }
    a:hover {
        background: $gray-color;
        transition: 0.9s;
    }
}
@import "media";
// $PT-SANS: 'PT Sans', sans-serif;
// $black-color: #000;
// $gray-color: #969696;
// $black2-color: #0F0F0F;
// $black3-color: #1F1F1F;
// $wiht-color: #fff;
// $black4-color: #191B1C;